<!DOCTYPE html>
<html lang="en">

<head>
    <title>Table Selection</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>

    <link rel="stylesheet" href="../static/css/global.css"/>
    <link rel="stylesheet" href="../static/css/start.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair Display:wght@900&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira Sans Condensed:wght@700&display=swap"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Fira Sans Extra Condensed:wght@500&display=swap"/>
</head>

<body>
<div class="start">
    <header class="vector-parent">
        <img class="vector-icon" alt="" src="../static/img/vector.svg"/>
        <div class="sunehri-kiran-wrapper">
            <div class="sunehri-kiran" id="sunehri">sunehri kiran</div>
        </div>
        <div class="table-selection-wrapper">
            <div class="table-selection">Table Selection</div>
        </div>
    </header>
    <div class="console">
        <div class="section-13">
            <div class="section-1">
                <div class="section-1-child"></div>
                <b class="table-name">Donor</b>
            </div>
            <div class="lorem-ipsum-wrapper">
                <div class="lorem-ipsum">Stores information about Donors.</div>
            </div>
        </div>
        <div class="section-14">
            <div class="section-1">
                <div class="section-1-child"></div>
                <b class="table-name">Donation</b>
            </div>
            <div class="lorem-ipsum-wrapper">
                <div class="lorem-ipsum">Stores information about donations made by Donors.</div>
            </div>
        </div>
        <div class="section-12">
            <div class="section-1">
                <div class="section-1-child"></div>
                <b class="table-name owner">Owner</b>
            </div>
            <div class="lorem-ipsum-wrapper">
                <div class="lorem-ipsum2">Stores information about the owners.</div>
            </div>
        </div>
        <div class="section-5">
            <div class="section-1">
                <div class="section-1-child"></div>
                <b class="table-name">Branch Manager</b>
            </div>
            <div class="lorem-ipsum-wrapper">
                <div class="lorem-ipsum">Stores information about Branch Managers.</div>
            </div>
        </div>
        <div class="section-6">
            <div class="section-1">
                <div class="section-1-child"></div>
                <b class="table-name">Volunteer Skills</b>
            </div>
            <div class="lorem-ipsum-wrapper">
                <div class="lorem-ipsum">Mapping of Volunteers with their respective skills.</div>
            </div>
        </div>
        <div class="section-7">
            <div class="section-1">
                <div class="section-1-child"></div>
                <b class="table-name">Worker</b>
            </div>
            <div class="lorem-ipsum-wrapper">
                <div class="lorem-ipsum">Stores information about Workers of NGO.</div>
            </div>
        </div>
        <div class="section-8">
            <div class="section-1">
                <div class="section-1-child"></div>
                <b class="table-name">Skills</b>
            </div>
            <div class="lorem-ipsum-wrapper">
                <div class="lorem-ipsum">Stores information about necessary skills of Volunteers.</div>
            </div>
        </div>
        <div class="section-9">
            <div class="section-1">
                <div class="section-1-child"></div>
                <b class="table-name">Volunteer</b>
            </div>
            <div class="lorem-ipsum-wrapper">
                <div class="lorem-ipsum">Stores information about Volunteers.</div>
            </div>
        </div>
        <div class="section-10">
            <div class="section-1">
                <div class="section-1-child"></div>
                <b class="table-name">Beneficiary</b>
            </div>
            <div class="lorem-ipsum-wrapper">
                <div class="lorem-ipsum">Stores information about Beneficiary.</div>
            </div>
        </div>
        <div class="section-112">
            <div class="section-1">
                <div class="section-1-child"></div>
                <b class="table-name">Projects</b>
            </div>
            <div class="lorem-ipsum-wrapper">
                <div class="lorem-ipsum">Stores information about all Projects</div>
            </div>
        </div>
        <div class="section-121">
            <div class="section-1">
                <div class="section-1-child"></div>
                <b class="table-name">Events</b>
            </div>
            <div class="lorem-ipsum-wrapper">
                <div class="lorem-ipsum">Stores information about all events.</div>
            </div>
        </div>
        <div class="section-2">
            <div class="section-1">
                <div class="section-1-child"></div>
                <b class="table-name">Senior Manager</b>
            </div>
            <div class="lorem-ipsum-wrapper">
                <div class="lorem-ipsum2">Stores information about Senior Managers.</div>
            </div>
        </div>
        <div class="section-3">
            <div class="section-1">
                <div class="section-1-child"></div>
                <b class="table-name">Branch Type</b>
            </div>
            <div class="lorem-ipsum-wrapper">
                <div class="lorem-ipsum2">Stores information about Category of Branch</div>
            </div>
        </div>
        <div class="section-4">
            <div class="section-1">
                <div class="section-1-child"></div>
                <b class="table-name">Branch</b>
            </div>
            <div class="lorem-ipsum-wrapper">
                <div class="lorem-ipsum13">Stores information about Branches</div>
            </div>
        </div>
        <div class="redirect">
            <button class="expand btn" id="1" data-table="volunteer">
                <img class="vector-icon1" alt="" src="../static/img/go.svg"/>
            </button>
            <button class="expand1 btn" id="2" data-table="events">
                <img class="vector-icon2" alt="" src="../static/img/go.svg"/>
            </button>
            <button class="expand2 btn" id="3" data-table="branchtype">
                <img class="vector-icon3" alt="" src="../static/img/go.svg"/>
            </button>
            <button class="expand3 btn" id="4" data-table="volunteer_skills">
                <img class="vector-icon4" alt="" src="../static/img/go.svg"/>
            </button>
            <button class="expand4 btn" id="5" data-table="projects">
                <img class="vector-icon5" alt="" src="../static/img/go.svg"/>
            </button>
            <button class="expand5 btn" id="6" data-table="branch">
                <img class="vector-icon6" alt="" src="../static/img/go.svg"/>
            </button>
            <button class="expand6 btn" id="7" data-table="senior_manager">
                <img class="vector-icon7" alt="" src="../static/img/go.svg"/>
            </button>
            <button class="expand7 btn" id="8" data-table="worker">
                <img class="vector-icon8" alt="" src="../static/img/go.svg"/>
            </button>
            <button class="expand8 btn" id="9" data-table="beneficiary">
                <img class="vector-icon9" alt="" src="../static/img/go.svg"/>
            </button>
            <button class="expand9 btn" id="10" data-table="donation">
                <img class="vector-icon10" alt="" src="../static/img/go.svg"/>
            </button>
            <button class="expand10 btn" id="11" data-table="owner">
                <img class="vector-icon11" alt="" src="../static/img/go.svg"/>
            </button>
            <button class="expand11 btn" id="12" data-table="branch_manager">
                <img class="vector-icon12" alt="" src="../static/img/go.svg"/>
            </button>
            <button class="expand12 btn" id="13" data-table="volunteer_skill_mapping">
                <img class="vector-icon13" alt="" src="../static/img/go.svg"/>
            </button>
            <button class="expand13 btn" id="14" data-table="donor">
                <img class="vector-icon14" alt="" src="../static/img/go.svg"/>
            </button>
        </div>
    </div>
</div>
<script>
    document.getElementById("sunehri").addEventListener("click", function () {
        window.location.href = "/";
    });
    var Buttons = document.querySelectorAll(".btn");
    Buttons.forEach(function (button) {
        button.addEventListener("click", function () {
            var tableName = this.getAttribute("data-table");
            window.location.href = "/table?table_name=" + tableName;
        });
    });
    
</script>
</body>

</html>